span, ul {
    background-color: white;
}
body {
    background-image: url('starry-sky.png');
}
h2 {
    color: white;
    font-size: 250%;
}
ul {
    width: 25%;
}
a {
    color: white;
    font-size: 125;
}